* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: hsl(249, 10%, 26%);
  font-size: 16px;
}

.main {
  height: 100vh;
  font-family: "Poppins";
  margin: auto;
  background-image: url(./bg-intro-mobile.png);
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4em;
}

@media screen and (max-width: 819px) {
  .main {
    flex-direction: column;
    padding-top: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .main {
  }
}

.top-div {
  color: white;
  padding: 2em 5em;
  flex-basis: 50%;
  margin-left: 2rem;
}

.top-div h3 {
  font-size: 48px;
  width: 100%;
  max-width: 420px;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 600px) {
  .top-div {
    padding: 5em 1em;
  }

  .top-div h3 {
    margin-top: 5em;
    font-size: 32px;
  }
}

.top-div p {
  font-size: 16px;
  font-weight: 400;
  max-width: 420px;
}

.below-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.try-month {
  text-align: center;
  align-self: center;
  width: 100%;
  background-color: hsl(248, 32%, 49%);
  border-radius: 5px;
  border-style: none;
  color: white;
  height: 3.5em;
  padding: 1.2em 3em;
  line-height: 20px;
  font-size: 16px;
}

@media screen and (max-width: 1042px) and (min-width: 820px) {
  .try-month {
    padding: 1.5em 5em;
    height: 5em;
    line-height: 15px;
  }
}

@media screen and (max-width: 570px) {
  .try-month {
    padding: 1em;
    height: 4em;
  }
}

.form {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin: 10px 3em;
  padding: 1em;
  /* padding-bottom: 5em; */
}

.form ul {
  list-style: none;
}

.form input {
  color: #000;
  border-radius: 3px;
  border: 0.1px solid #000;
  height: 3.5em;
  width: 100%;
  padding: 1.5em;
  margin-bottom: 1em;
}

.form .claim {
  width: 100%;
  font-size: 12px;
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-weight: 700;
  height: 3.5em;
  text-align: center;
  border-style: none;
  border-radius: 5px;
  margin-bottom: 1em;
}

.form .claim:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form p {
  font-size: 14px;
  color: hsl(246, 25%, 77%);
  text-align: center;
  /* padding-bottom: 3em; */
}

.form strong {
  color: hsl(0, 100%, 74%);
}
